{
  "parser": "@typescript-eslint/parser", // TypeScript 파서 설정
  "extends": [
    "plugin:@typescript-eslint/recommended", // TypeScript ESLint 규칙
    "plugin:mdx/recommended" // MDX 지원
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "./tsconfig.json" // TypeScript 프로젝트 설정
  },
  "settings": {
    "mdx/code-blocks": true,
    "mdx/language-mapper": {}
  },
  "rules": {
    "no-unused-expressions": "off"
  }
}
